* {margin: 0; padding: 0;}

body {
    height: 100vh; width: 100vw;
    background-color: #ffebee;

    perspective: 1000px;
    /* transform-style: preserve-3d; */

    display: flex;
    align-items: center; justify-content: center;
}

.cube {
    position: relative;

    transform-style: preserve-3d;

    width: 100px; height: 100px;

    /* transform-origin: left bottom; */
    transform: rotateX(-40deg) rotateY(149deg);
    animation: rotate 8s linear infinite alternate;
}

.surface {
    /* surface 안에 있는 요소를 가운데오게 하는 것이므로, 별로 안중요함!! */
    display: flex;
    align-items: center; justify-content: center;
    /* 별로 안중요함!! */

    position: absolute; top: 0; left: 0;

    width: 100px; height: 100px;
    opacity: 0.75;
    color: #fff;
}

.surface:nth-child(1) {
    background-color: #ffcc80;
    transform-origin: center top;
    transform: rotateX(-90deg) translateY(-100px);
}
.surface:nth-child(2) {
    background-color: #ffb74d;
    transform-origin: center bottom;
    transform: rotateX(90deg) translateY(100px);
}
.surface:nth-child(3) {
    background-color: #ffa726;
    transform-origin: left center;
    transform: rotateY(-90deg);
}
.surface:nth-child(4) {
    background-color: #ff9800;
    transform-origin: right center;
    transform: rotateY(90deg);
}
.surface:nth-child(5) {
    background-color: #fb8c00;
    transform: translateZ(100px);
}
.surface:nth-child(6) {
    background-color: #f57c00;
}

@keyframes rotate {
    0%      {transform: rotateX(0) rotateY(0) rotateZ(0) translateZ(0);}
    100%    {transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg) translateZ(72px);}
}